<div class='homepage-container'>
  <h2 class='text-center fw-bolder'> Who to follow</h2>
  <% @users.each do |user| %>
    <div class='sug-card shadow-sm p-2 mb-2 rounded'>
      <%= link_to "/#{user.profile_url}" do %>
        <p> <%= user.name %> </p>
        <%= link_to 'Follow', "/follow/#{user.profile_url}", class: 'rounded-pill'  %>
      <% end %>
    </div>
  <% end %>
</div>
