<div class="modal fade" id="followers" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center w-100" id="exampleModalLabel">Followers</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <% followers.each do |user| %>
          <%= link_to "/#{user.profile_url}", class:'text-decoration-none text-muted' do %>
            <p> <%= user.name %> </p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
