<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @sender %> sent you a phto</p>
    <br />
    <p>
      here is a url to the photo 
      <%=@url%>
    </p>
  </body>
</html>
